<main class="container">
  <h1 class="text-center">
    {{title}}
  </h1>

  <form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Nombre"
      />
    </div>
    <div class="form-group">
      <label for="apellidos">Precio</label>
      <input
        type="text"
        class="form-control"
        id="apellidos"
        placeholder="Apellidos"
      />
    </div>
    <div class="form-group">
      <label for="edad">Url imagen</label>
      <input type="number" class="form-control" id="edad" placeholder="Edad" />
    </div>

  </form>
</main>